<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties" />

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${host}" />
        <property name="port" value="${port}" />
        <property name="username" value="" />
        <property name="password" value="" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
            </props>
        </property>
    </bean>

    <bean id="orderRestController" class="com.yuriikovalchuk.web.OrderRestController">
        <property name="mailSender" ref="mailSender" />
    </bean>

    <bean id="serviceOrderBuffer" class="com.yuriikovalchuk.repository.buffer.ServiceOrderBufferImpl">
        <property name="serverOrderBufferCapacity" value="${orderBufferCapacity}" />
    </bean>

    <bean id="userOrderBuffer" class="com.yuriikovalchuk.repository.buffer.UserOrderBufferImpl">
        <property name="interval" value="${intervalInMillis}" />
        <property name="maxOrderCountPerInterval" value="${countOrderPerInterval}" />
    </bean>

</beans>