<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="ordersQueue" class="java.util.concurrent.LinkedBlockingQueue" >
        <constructor-arg value="${orderQueueLength}" />
    </bean>

    <bean id="orderRepository" class="com.yuriikovalchuk.repository.order.OrderRepositoryImpl">
        <property name="orders" ref="ordersQueue" />
    </bean>

    <bean id="orderLimiter" class="com.yuriikovalchuk.service.order.limited.IntervalTimeOrderLimiter">
        <property name="interval" value="${intervalInMillis}" />
        <property name="maxOrderCountPerInterval" value="${countOrderPerInterval}" />
    </bean>

    <bean id="limitedOrderService" class="com.yuriikovalchuk.service.order.limited.LimitedOrderService">
        <property name="orderLimiter" ref="orderLimiter" />
    </bean>

    <context:component-scan base-package="com.yuriikovalchuk.web"/>

</beans>